body{
    background-color: #e0e0e2;
}

h1, h2{
    color: #721812;
}

main, nav{
    text-align: center;
    font-family: raleway;
}

ul {
    list-style-type: none;
    text-align: center;
}

li{
    display: inline;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
    font: 10px raleway;
}
