body {
    background-color: #edefee;
    font-family: 'Markazi Text','Cambria', serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    color: #ffffff;
    font-size: 3rem;
}
.promotion {
    color: #ffffff;
}

h2 {
    font-size: 2rem;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


nav ul {
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 15px;
    margin-top: 3rem;
}

nav li {
    list-style: none;
}

nav a {
    display: inline-block;
    padding: 1px;
    margin: 0 25px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

nav a:hover {
    text-decoration: underline solid yellow;
    text-decoration-thickness: 0.2rem;
}

.row_1 {
    display: flex;
    background-image: url(cover.jpg);
    background-size: cover;
    background-position: 75%;
    border-radius: 15px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.row_3 {
    display: flex;
    gap: 2rem 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.row_3 div {
    flex: 1;
}

article div img{
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.open_list {
    list-style: none;
}

.row_3 div{
    background-color: #fbdabb79;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
}

footer {
    display: flex;
    margin-top: 3rem;
}

footer div {
    flex: 1;
}

footer div p {
    text-align: right;
    padding-top: 0.5rem;
    border-top: 1px solid black;
}